<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pandawork.mapper.SongMapper">

    <resultMap id="song" type="com.pandawork.common.entity.song" >
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="belonging" column="belonging"/>
        <result property="singer" column="singer"/>
    </resultMap>

    <select id="listAllSong" resultMap="song">
        SELECT * FROM t_songs
    </select>

    <insert id="addSong">
        INSERT INTO t_songs
              (name,
              belonging,
              singer)
        VALUES(#{song.name},
                #{song.belonging},
                #{song.singer})
    </insert>

    <delete id="deleteSong">
        DELETE FROM t_songs
        WHERE id=#{id}
    </delete>

    <update id="updateSong">
        UPDATE t_songs
        SET name=#{song.name},
            belonging=#{song.belonging},
            singer=#{song.singer}
        WHERE id=#{song.id}
    </update>

    <select id="searchSong" resultMap="song" >
        SELECT *
        FROM t_songs
        WHERE id LIKE  CONCAT(CONCAT('%', #{search}), '%')
            OR name LIKE CONCAT(CONCAT('%', #{search}), '%')
            OR belonging LIKE CONCAT(CONCAT('%', #{search}), '%')
            OR singer LIKE CONCAT(CONCAT('%', #{search}), '%')
    </select>

    <select id="getSong" resultMap="song">
        SELECT *
        FROM t_songs
        WHERE id=#{id}
    </select>
</mapper>